html,
body,
div,
ul,
li,
h2,
input,
select,
option {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

ul,
li {
    list-style: none;
}

html,
body {
    height: 100%;
}

.container {
    width: 400px;
    height: 600px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.title h2 {
    color: crimson;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
}

.title img {
    width: 32px;
    height: 32px;
    ;
}

.tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
}

.tab .tab-active {
    background: crimson;
    color: #ffffff;
}

.tab li {
    width: 120px;
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
    border-right: 0;
    font-weight: bold;
    cursor: pointer;
}

.tab li:last-child {
    border-right: 1px solid #dddddd;
}

.content {
    width: 100%;
    height: 400px;
    position: relative;
}

.content li {
    position: absolute;
    display: none;
}

.content .content-active {
    display: block;
}

.product-areas,
.billing-areas,
.card-areas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-areas div,
.billing-areas div,
.card-areas div {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}

.content .billing-address,
.content .billing-info,
.content .card-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 0;
}

.content .billing-address input,
.content .billing-info input,
.content .card-time input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
}

.product-areas div input,
.product-areas div select,
.billing-areas div input,
.card-areas div input {
    width: 100%;
    height: 100%;
}

.content .billing-address input:nth-child(1) {
    flex: 2;
    margin-right: 5px;
}

.content .billing-address input:nth-child(2) {
    flex: 1;
}

.content .billing-info input:nth-child(1) {
    margin-right: 5px;
}

.content .billing-info input:nth-child(2) {
    margin-right: 5px;
}

.content .card-time input:first-child {
    margin-right: 5px;
}

.content .card-areas p {
    font-size: 16px;
    font-weight: bold;
}

#start-btn {
    width: 45%;
    height: 50px;
    background: crimson;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(228, 89, 117);
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer p {
    font-size: 12px;
    color: #666666;
}